@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

::selection {
    background-color: #fffcad;
    color: #111111;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: #111111;
    color: #fff;
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 20px;
    background: #222222;
    color: #fff;
    height: 4em;
}

nav {
    display: flex;
    gap: 1em;
    align-items: center;
}

a {
    color: #fff;
    text-decoration: none;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main__center {
    padding: 2em 0;
    max-width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2em;
}

.avatar {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
}

.highlight {
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(135deg, #5f5d96, #615ced, #8a87f9);
}

.description {
    font-size: 1.6em;
    font-weight: 600;
}

.description__section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
}

.experience__section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
}

.letter__spacing__exp {
    letter-spacing: 0.2em;
}

.projects__section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    background: #222222;
    color: #fff;
    height: 4em;
}

.copyleft {
    display:inline-block;
    transform: rotate(180deg);
}